$texture_sky: $texture_path + "sky.png"
$texture_sea: $texture_path + "sea.png"
$texture_tint: $filter_path + "tint.png"

#background
  position: absolute
  top: 0%
  left: 0%
  right: 0%
  @media (orientation:landscape)
    height: 100vh
  @media (orientation:portrait)
    height: 100vw
  z-index: $layer_1

#background_sky
  position: relative
  width: 100%
  height: $sky_background_height * 100%
  background:
    image: url(#{$texture_sky})
  overflow: hidden

#background_sky_tint
  position: absolute
  width: 100%
  height: 100%
  background:
    image: url(#{$texture_tint})
    size: 100% 100%

$texture_pine_tree: $prop_path + "pine_tree_background.png"
$background_tree_width: 95vmin
$pine_width: 4vmin
$pine_offset: 0.3vmin
#background_sky_tree
  position: absolute
  bottom: 3%
  @media (orientation:landscape)
    right: calc((((100vw - 100vh) / 2) + #{$background_tree_width}) - (#{$pine_width} / 2 + #{$pine_offset}))
  @media (orientation:portrait)
    right: calc(#{$background_tree_width} - (#{$pine_width} / 2 + #{$pine_offset}))
  width: $pine_width
  height: 100%
  z-index: $layer_3
  background:
    image: url(#{$texture_pine_tree})
    repeat: no-repeat
    position: bottom 0px left 0px
    size: 100% auto

$texture_background_trees: $texture_path + "treeline_background.png"
#background_sky_treeline
  position: absolute
  @media (orientation:landscape)
    width: calc(((100vw - 100vh) / 2) + #{$background_tree_width})
  @media (orientation:portrait)
    width: $background_tree_width
  height: 15%
  z-index: $layer_2
  right: 0%
  bottom: 3%
  background:
    image: url(#{$texture_background_trees})
    size: auto 100%
    position: left 0px bottom 0px
    repeat: repeat-x

#background_sky_center
  @extend .centerer
  height: 100%

@import sun_moon  

#background_sea
  position: relative
  width: 100%
  height: $sea_background_height * 100%
  background-image: url(#{$texture_sea})

#sea_tint
  position: absolute
  width: 100%
  height: 100%
  background:
    image: url(#{$texture_tint})
    size: 100% 100%
  transform: scaleY(-1)