$texture_trees: $prop_path + "treeline.png"
#forest
  position: absolute
  bottom: 0px
  right: 0px
  @media (orientation:landscape)
    width: calc(((100vw - 100vh) / 2) + 50vh)
  @media (orientation:portrait)    
    width: 50vw
  height: 30%
  background:
    image: url(#{$texture_trees})
    size: auto 100%
    position: left 0px bottom 0px
    repeat: repeat-x
  z-index: $layer_2