@import watch

$welcome_width: 50vmin
$welcome_radius: 4px

#welcome
  position: absolute
  width: $welcome_width
  height: auto
  top: 0%
  left: calc((100% - #{$welcome_width}) / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  font-size: 1.5vmin
  text-align: center
  z-index: $layer_4
  color: white

  border-radius: 0% 0% $welcome_radius $welcome_radius

.welcome_bar
  width: 100%
  height: auto

  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

#welcome_header  
  position: relative
  width: 100%
  font-size: 2.0vmin
  margin: 0% 0% 0% 0%
  padding: 1vmin
  background-color: #2b506e
  border-radius: 0% 0% $welcome_radius $welcome_radius

#welcome_drop_down
  width: 100%
  opacity: 0
  background:
    color: #4682B4

#welcome_bars
  position: absolute
  width: 10%
  top: 0%
  right: 0%
  bottom: 0%
  font-size: 2.5vmin
  cursor: pointer

.welcome_button
  width: 25%
  height: auto
  padding: 1vmin 0% 1vmin 0%
  text-align: center
  text-decoration: none
  color: $font_default_colour
  cursor: pointer

.fa-space
  padding-right: 0.5em

.welcome_colour_1  
  background:
    color: #702963
  &:hover
    background:
      color: #a83e94

.welcome_colour_2
  background:
    color: #1D6660
  &:hover
    background:
      color: #2d9f96

.welcome_colour_3
  background:
    color: #DA9100
  &:hover
    background:
      color: #ffaa00

.welcome_colour_4
  background:
    color: #3B444B
  &:hover
    background:
      color: #5a6872

.welcome_tip
  padding: 1vmin