@import watch

#old_site
  position: absolute
  width: 15vmin
  height: auto
  top: 0%
  right: 2.5%
  padding: 1vmin
  background:
    color: #009999
  font-size: 2vmin
  text-align: center
  text-decoration: none
  z-index: $layer_6
  color: white