/* ---- Sam Esgate ---- */
$samesgate_color: #DCDCDC
$samesgate_border: 1vmin

#samesgate
  position: absolute
  width: 35vmin
  height: auto
  right: 5%
  bottom: 60%
  font:
    family: helvetica
  font-size: 5vmin
  line-height: 7.5vmin
  text-align: center
  border:
    bottom: ($samesgate_border / 2) solid $samesgate_color
  color: $samesgate_color
  z-index: $layer_6

#bonzos_useful_things
  position: absolute
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center
  right: 5%
  top: 40%
  background:
    color: #2D2222
  border:
    radius: 0px 0px 5px 5px
  z-index: $layer_6

.useful_icon
  width: 10vmin
  height: 10vmin