/* ------------------------------------------------------------------- */
/* -------------------------- Control Panel -------------------------- */
/* ------------------------------------------------------------------- */
$image_path: "../image/"
$texture_path: $image_path + "texture/"
$filter_path: $image_path + "filter/"
$prop_path: $image_path + "prop/"
$animation_path: $image_path + "animation/"

$sky_height_multiplier: 0.7
$sea_height_multiplier: 1 - $sky_height_multiplier

$font_default_colour: #DCDCDC

.foreground
  right: 0%
  @media (orientation:landscape)
    width: calc(((100vw - 100vh) / 2) + 100vh)
  @media (orientation:portrait)    
    width: 100vw

/* ------------------------------------------------------------------- */
/* ------------------------------- Util ------------------------------ */
/* ------------------------------------------------------------------- */

@import layers
@import util
@import animation

@import watch
@import overlay
@import useful
@import daynight
@import countdown

body
  margin: 0px 0px 0px 0px
  color: $font_default_colour
  background:
    color: black
  font:
    family: helvetica
  
@import sky
@import sea