body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  color: gainsboro;
  background-color: black;
  font-family: helvetica;
  overflow: hidden; }

#watch_indicator {
  position: fixed;
  z-index: 10;
  background-image: url(../image/prop/watch_indicator.png);
  background-size: 100% 100%; }

@media (orientation: portrait) {
  #watch_indicator {
    top: 5vw;
    left: 5vw;
    width: 22.5vw;
    height: 22.5vw; } }
@media (orientation: landscape) {
  #watch_indicator {
    top: 5vh;
    left: 5vh;
    width: 22.5vh;
    height: 22.5vh; } }
#watch {
  position: fixed;
  z-index: 11;
  background-image: url(../image/prop/watch.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (orientation: portrait) {
    #watch {
      top: 5vw;
      left: 5vw;
      width: 22.5vw;
      height: 22.5vw;
      font-size: 22.5vw; } }
  @media (orientation: landscape) {
    #watch {
      top: 5vh;
      left: 5vh;
      width: 22.5vh;
      height: 22.5vh;
      font-size: 22.5vh; } }

.watch_bar {
  width: 63%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#watch_time_bar {
  height: 25%; }

#watch_date_bar {
  height: 20%; }

#watch_name {
  height: 20%;
  line-height: 100%;
  margin: 0 auto;
  font-size: 5%; }

.watch_time_symbol {
  width: 15%;
  font-size: 5%;
  text-align: center; }

#watch_time {
  width: 70%;
  text-align: center;
  font-family: monospace;
  font-size: 15%;
  padding-bottom: 2%; }

#watch_date {
  width: 14%;
  font-size: 5%;
  text-align: center;
  margin-bottom: 5%; }

.watch_control_symbol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 58%;
  background-color: #444444;
  border-radius: 50%;
  font-size: 5%;
  margin-bottom: 6%; }

#old_site {
  position: absolute;
  width: 15vmin;
  height: auto;
  top: 0%;
  right: 2.5%;
  padding: 1vmin;
  background-color: #009999;
  font-size: 2vmin;
  text-align: center;
  text-decoration: none;
  z-index: 6;
  color: white; }

#background, #foreground_background_mask {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1; }
  @media (orientation: landscape) {
    #background, #foreground_background_mask {
      height: 100vh; } }
  @media (orientation: portrait) {
    #background, #foreground_background_mask {
      height: 100vw; } }

#background_sky {
  position: relative;
  width: 100%;
  height: 70%;
  background-image: url(../image/texture/sky.png);
  overflow: hidden; }

#sky_background_tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../image/filter/tint.png);
  background-size: 100% 100%; }

#background_sky_center {
  height: 100%; }

#sun_moon_static {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }

#sun_moon_rotating {
  position: relative;
  width: 100%;
  height: 200%;
  background-image: url(../image/prop/sun_moon.png);
  background-position: center;
  background-size: 20% auto;
  background-repeat: no-repeat; }

#background_sea {
  position: relative;
  width: 100%;
  height: 30.0%;
  background-image: url(../image/texture/sea.png); }

#sea_tint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../image/filter/tint.png);
  background-size: 100% 100%;
  transform: scaleY(-1); }

/* ---- Positioning ---- */
.centerer, #background_sky_center, #lighting {
  position: relative;
  margin: 0 auto;
  height: 100%; }
  @media (orientation: portrait) {
    .centerer, #background_sky_center, #lighting {
      width: 100vw; } }
  @media (orientation: landscape) {
    .centerer, #background_sky_center, #lighting {
      width: 100vh; } }

.lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
  position: absolute;
  left: 0%; }
  @media (orientation: portrait) {
    .lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
      width: 100vw; } }
  @media (orientation: landscape) {
    .lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
      width: 100vh; } }

.righterer, #foreground {
  position: absolute;
  right: 0%; }
  @media (orientation: landscape) {
    .righterer, #foreground {
      width: calc(((100vw - 100vh) / 2) + 100vh); } }
  @media (orientation: portrait) {
    .righterer, #foreground {
      width: 100vw; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

#foreground {
  z-index: 2; }
  @media (orientation: landscape) {
    #foreground {
      height: 100vh; } }
  @media (orientation: portrait) {
    #foreground {
      height: 100vw; } }

.foreground, #foreground_sky, #foreground_land, #foreground_sea {
  position: relative;
  width: 100%; }

#foreground_sky {
  height: 67.5%; }

#foreground_sky_center {
  height: 100%; }

#clouds {
  z-index: 2; }

#cloud1 {
  position: absolute;
  top: 5%;
  left: auto;
  width: 15%;
  height: 95%;
  z-index: 2;
  -webkit-animation: cloud1 50s linear 0s  infinite;
  animation: cloud1 50s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_1.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud1 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  33.33333% {
    transform: translateX(40vmin);
    opacity: 1; }

  66.66667% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud1 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  33.33333% {
    transform: translateX(40vmin);
    opacity: 1; }

  66.66667% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#cloud2 {
  position: absolute;
  top: 40%;
  left: auto;
  width: 15%;
  height: 60%;
  z-index: 2;
  -webkit-animation: cloud2 58s linear 0s  infinite;
  animation: cloud2 58s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_2.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud2 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  25% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(40vmin);
    opacity: 1; }

  75% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud2 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  25% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(40vmin);
    opacity: 1; }

  75% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#cloud3 {
  position: absolute;
  top: 30%;
  left: auto;
  width: 15%;
  height: 70%;
  z-index: 2;
  -webkit-animation: cloud3 66s linear 0s  infinite;
  animation: cloud3 66s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_3.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud3 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  20% {
    transform: translateX(10vmin);
    opacity: 0; }

  40% {
    transform: translateX(10vmin);
    opacity: 0; }

  60% {
    transform: translateX(40vmin);
    opacity: 1; }

  80% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud3 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  20% {
    transform: translateX(10vmin);
    opacity: 0; }

  40% {
    transform: translateX(10vmin);
    opacity: 0; }

  60% {
    transform: translateX(40vmin);
    opacity: 1; }

  80% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#cloud4 {
  position: absolute;
  top: 50%;
  left: auto;
  width: 15%;
  height: 50%;
  z-index: 2;
  -webkit-animation: cloud4 74s linear 0s  infinite;
  animation: cloud4 74s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_4.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud4 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  16.66667% {
    transform: translateX(10vmin);
    opacity: 0; }

  33.33333% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(10vmin);
    opacity: 0; }

  66.66667% {
    transform: translateX(40vmin);
    opacity: 1; }

  83.33333% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud4 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  16.66667% {
    transform: translateX(10vmin);
    opacity: 0; }

  33.33333% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(10vmin);
    opacity: 0; }

  66.66667% {
    transform: translateX(40vmin);
    opacity: 1; }

  83.33333% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#cloud5 {
  position: absolute;
  top: 15%;
  left: auto;
  width: 15%;
  height: 85%;
  z-index: 2;
  -webkit-animation: cloud5 82s linear 0s  infinite;
  animation: cloud5 82s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_5.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud5 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  14.28571% {
    transform: translateX(10vmin);
    opacity: 0; }

  28.57143% {
    transform: translateX(10vmin);
    opacity: 0; }

  42.85714% {
    transform: translateX(10vmin);
    opacity: 0; }

  57.14286% {
    transform: translateX(10vmin);
    opacity: 0; }

  71.42857% {
    transform: translateX(40vmin);
    opacity: 1; }

  85.71429% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud5 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  14.28571% {
    transform: translateX(10vmin);
    opacity: 0; }

  28.57143% {
    transform: translateX(10vmin);
    opacity: 0; }

  42.85714% {
    transform: translateX(10vmin);
    opacity: 0; }

  57.14286% {
    transform: translateX(10vmin);
    opacity: 0; }

  71.42857% {
    transform: translateX(40vmin);
    opacity: 1; }

  85.71429% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#cloud6 {
  position: absolute;
  top: 25%;
  left: auto;
  width: 15%;
  height: 75%;
  z-index: 2;
  -webkit-animation: cloud6 90s linear 0s  infinite;
  animation: cloud6 90s linear 0s  infinite;
  background-image: url(../image/texture/cloud/Cloud_6.png);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes cloud6 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  12.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  25% {
    transform: translateX(10vmin);
    opacity: 0; }

  37.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(10vmin);
    opacity: 0; }

  62.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  75% {
    transform: translateX(40vmin);
    opacity: 1; }

  87.5% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
@keyframes cloud6 {
  0% {
    transform: translateX(10vmin);
    opacity: 0; }

  12.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  25% {
    transform: translateX(10vmin);
    opacity: 0; }

  37.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  50% {
    transform: translateX(10vmin);
    opacity: 0; }

  62.5% {
    transform: translateX(10vmin);
    opacity: 0; }

  75% {
    transform: translateX(40vmin);
    opacity: 1; }

  87.5% {
    transform: translateX(70vmin);
    opacity: 1; }

  100% {
    transform: translateX(100vmin);
    opacity: 0; } }
#exocet_wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 12.5%;
  height: 12.5%;
  z-index: 3;
  transform: translateX(100%); }

#exocet {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  background-image: url(../image/animation/exocet.gif);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom; }

#birds {
  position: absolute;
  bottom: 20%;
  left: 100%;
  width: 10%;
  height: 10%;
  z-index: 4;
  opacity: 0; }

#bird1 {
  position: absolute;
  bottom: 0%;
  left: 30%;
  width: 50%;
  height: 50%;
  z-index: 1;
  background-image: url(../image/animation/bird.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

#bird2 {
  position: absolute;
  bottom: 40%;
  left: 70%;
  width: 30%;
  height: 30%;
  z-index: 1;
  background-image: url(../image/animation/bird.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

#bird3 {
  position: absolute;
  bottom: 30%;
  left: 0%;
  width: 25%;
  height: 25%;
  z-index: 1;
  background-image: url(../image/animation/bird.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

/* ---- Sam Esgate ---- */
#samesgate {
  position: absolute;
  width: 35vmin;
  height: auto;
  right: 5%;
  bottom: 60%;
  font-size: 5vmin;
  line-height: 7.5vmin;
  text-align: center;
  border-bottom: 0.5vmin solid gainsboro;
  z-index: 3; }

#bonzos_useful_things {
  position: absolute;
  right: 5%;
  top: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  border-radius: 0px 0px 5px 5px;
  z-index: 3; }

.useful_icon {
  width: 10vmin;
  height: 10vmin; }

#forest {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 30%;
  background-image: url(../image/prop/treeline.png);
  background-size: auto 100%;
  background-position: left 0px bottom 0px;
  background-repeat: repeat-x;
  z-index: 2; }
  @media (orientation: landscape) {
    #forest {
      width: calc(((100vw - 100vh) / 2) + 50vh); } }
  @media (orientation: portrait) {
    #forest {
      width: 50vw; } }

#foreground_land {
  height: 10%; }

#foreground_land_center {
  height: 100%; }

#tarmac {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 10%;
  background-color: #252525;
  z-index: 1;
  border-radius: 5px 0px 0px 0px; }

#stones {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 54%;
  z-index: 2;
  background-image: url(../image/prop/stones.png);
  background-size: auto 100%;
  background-position: center;
  border-radius: 10px 0px 0px 0px; }

#sand {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 90%;
  background-image: url(../image/texture/beach.png);
  background-size: auto 50%;
  z-index: 1;
  border-radius: 0% 0% 0% 30%; }

#foreground_sea {
  height: 22.5%; }

#foreground_sea_center {
  height: 100%; }

#fishies {
  height: 100%; }

#fish1 {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 5%;
  height: 90%;
  z-index: 2;
  -webkit-animation: fish1 25s linear 0s  infinite;
  animation: fish1 25s linear 0s  infinite;
  background-image: url(../image/animation/fish/fish_small_1.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes fish1 {
  0% {
    right: 100%;
    opacity: 0;
    transform: scaleX(1); }

  20% {
    right: 100%;
    opacity: 0;
    transform: scaleX(1); }

  40% {
    right: 75%;
    opacity: 1;
    transform: scaleX(1); }

  60% {
    right: 50%;
    opacity: 1;
    transform: scaleX(1); }

  80% {
    right: 25%;
    opacity: 1;
    transform: scaleX(1); }

  100% {
    right: 0%;
    opacity: 0;
    transform: scaleX(1); } }
@keyframes fish1 {
  0% {
    right: 100%;
    opacity: 0;
    transform: scaleX(1); }

  20% {
    right: 100%;
    opacity: 0;
    transform: scaleX(1); }

  40% {
    right: 75%;
    opacity: 1;
    transform: scaleX(1); }

  60% {
    right: 50%;
    opacity: 1;
    transform: scaleX(1); }

  80% {
    right: 25%;
    opacity: 1;
    transform: scaleX(1); }

  100% {
    right: 0%;
    opacity: 0;
    transform: scaleX(1); } }
#fish2 {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 4%;
  height: 60%;
  z-index: 2;
  -webkit-animation: fish2 30s linear 0s  infinite;
  animation: fish2 30s linear 0s  infinite;
  background-image: url(../image/animation/fish/fish_small_2.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes fish2 {
  0% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  20% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  40% {
    left: 70%;
    opacity: 1;
    transform: scaleX(-1); }

  60% {
    left: 50%;
    opacity: 1;
    transform: scaleX(-1); }

  80% {
    left: 30%;
    opacity: 1;
    transform: scaleX(-1); }

  100% {
    left: 10%;
    opacity: 0;
    transform: scaleX(-1); } }
@keyframes fish2 {
  0% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  20% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  40% {
    left: 70%;
    opacity: 1;
    transform: scaleX(-1); }

  60% {
    left: 50%;
    opacity: 1;
    transform: scaleX(-1); }

  80% {
    left: 30%;
    opacity: 1;
    transform: scaleX(-1); }

  100% {
    left: 10%;
    opacity: 0;
    transform: scaleX(-1); } }
#fish3 {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 3.5%;
  height: 40%;
  z-index: 2;
  -webkit-animation: fish3 36s linear 0s  infinite;
  animation: fish3 36s linear 0s  infinite;
  background-image: url(../image/animation/fish/fish_small_3.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes fish3 {
  0% {
    right: 80%;
    opacity: 0;
    transform: scaleX(1); }

  20% {
    right: 80%;
    opacity: 0;
    transform: scaleX(1); }

  40% {
    right: 60%;
    opacity: 1;
    transform: scaleX(1); }

  60% {
    right: 40%;
    opacity: 1;
    transform: scaleX(1); }

  80% {
    right: 20%;
    opacity: 1;
    transform: scaleX(1); }

  100% {
    right: 0%;
    opacity: 0;
    transform: scaleX(1); } }
@keyframes fish3 {
  0% {
    right: 80%;
    opacity: 0;
    transform: scaleX(1); }

  20% {
    right: 80%;
    opacity: 0;
    transform: scaleX(1); }

  40% {
    right: 60%;
    opacity: 1;
    transform: scaleX(1); }

  60% {
    right: 40%;
    opacity: 1;
    transform: scaleX(1); }

  80% {
    right: 20%;
    opacity: 1;
    transform: scaleX(1); }

  100% {
    right: 0%;
    opacity: 0;
    transform: scaleX(1); } }
#fish4 {
  position: absolute;
  bottom: 0;
  left: auto;
  width: 4.5%;
  height: 70%;
  z-index: 2;
  -webkit-animation: fish4 24s linear 0s  infinite;
  animation: fish4 24s linear 0s  infinite;
  background-image: url(../image/animation/fish/fish_small_4.gif);
  background-size: 100% auto;
  background-repeat: no-repeat; }

@-webkit-keyframes fish4 {
  0% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  20% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  40% {
    left: 72.5%;
    opacity: 1;
    transform: scaleX(-1); }

  60% {
    left: 55%;
    opacity: 1;
    transform: scaleX(-1); }

  80% {
    left: 37.5%;
    opacity: 1;
    transform: scaleX(-1); }

  100% {
    left: 20%;
    opacity: 0;
    transform: scaleX(-1); } }
@keyframes fish4 {
  0% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  20% {
    left: 90%;
    opacity: 0;
    transform: scaleX(-1); }

  40% {
    left: 72.5%;
    opacity: 1;
    transform: scaleX(-1); }

  60% {
    left: 55%;
    opacity: 1;
    transform: scaleX(-1); }

  80% {
    left: 37.5%;
    opacity: 1;
    transform: scaleX(-1); }

  100% {
    left: 20%;
    opacity: 0;
    transform: scaleX(-1); } }
#foreground_background_mask {
  z-index: 3;
  background-color: black; }

.mask {
  pointer-events: none; }

/* ---- Positioning ---- */
.centerer, #background_sky_center, #lighting {
  position: relative;
  margin: 0 auto;
  height: 100%; }
  @media (orientation: portrait) {
    .centerer, #background_sky_center, #lighting {
      width: 100vw; } }
  @media (orientation: landscape) {
    .centerer, #background_sky_center, #lighting {
      width: 100vh; } }

.lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
  position: absolute;
  left: 0%; }
  @media (orientation: portrait) {
    .lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
      width: 100vw; } }
  @media (orientation: landscape) {
    .lefterer, #foreground_sky_center, #foreground_land_center, #foreground_sea_center {
      width: 100vh; } }

.righterer, #foreground {
  position: absolute;
  right: 0%; }
  @media (orientation: landscape) {
    .righterer, #foreground {
      width: calc(((100vw - 100vh) / 2) + 100vh); } }
  @media (orientation: portrait) {
    .righterer, #foreground {
      width: 100vw; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

#lighting {
  z-index: 4; }
  @media (orientation: landscape) {
    #lighting {
      height: 100vh; } }
  @media (orientation: portrait) {
    #lighting {
      height: 100vw; } }

.lighting, #lighting_sky, #lighting_land, #lighting_sea {
  position: relative;
  width: 100%; }

#lighting_sky {
  height: 67.5%; }

#lighthouse {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 25%;
  height: 100%;
  z-index: 4;
  background-image: url(../image/prop/lighthouse.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: 100% auto; }

#lighthouse_mask {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 25%;
  height: 100%;
  z-index: 5;
  background-image: url(../image/prop/lighthousemask.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: 100% auto; }

#lighting_land {
  height: 10%; }

#lighting_sea {
  height: 22.5%; }
