# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.html text
*.css text
*.sass text
*.js text
*.php text

# Always CRLF (windows) line endings.
# text eol=crlf

# Always LF (unix) line endings.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.svg binary
*.psd binary
*.ai binary