$texture_path: "image/texture/"

$layer_1: 1
$layer_2: 2
$layer_3: 3
$layer_4: 4
$layer_5: 5
$layer_6: 6

@mixin absolute_object($top, $left, $width, $height, $z-index: $layer_1)
  position: absolute
  top: $top
  left: $left
  width: $width
  height: $height
  z-index: $z-index

@mixin absolute_object_b($bottom, $left, $width, $height, $z-index: $layer_1)
  position: absolute
  bottom: $bottom
  left: $left
  width: $width
  height: $height
  z-index: $z-index


/* ---- Sky ---- */
$sky_height: 60%
$texture_sky: $texture_path + "sky.png"
$texture_sky_size: 300px

#sky
  @include absolute_object(0px, 0px, 100%, $sky_height, $layer_1)
  background:
    image: url(#{$texture_sky})
    size: $texture_sky_size $texture_sky_size

/* ---- Clouds ---- */
$texture_cloud: $texture_path + "Cloud"

@mixin cloud($id, $top, $left)
  @include absolute_object($left, $top, 100px, 100px)
  background:
    image: url(#{$texture_cloud}/Cloud_#{$id}.png)
    size: 100% 100%
    repeat: no-repeat

#cloud1
  @include cloud(1, 50px, 50px)

#cloud2
  @include cloud(2, 700px, 50px)

#cloud3
  @include cloud(3, 1000px, 100px)

#cloud4
  @include cloud(4, 1200px, 20px)

#cloud5
  @include cloud(5, 1500px, 200px)

#cloud6
  @include cloud(6, 1750px, 50px)


/* ---- Birds ---- */
$texture_birds: $texture_path + "birds.png"

#birds
  @include absolute_object(150px, 1350px, 150px, 50px)
  background:
    image: url(#{$texture_birds})
    size: 100% 100%
    repeat: no-repeat

/* ---- Mountain --- */
$mountain_height: 100%
$mountain_width: 50%
$texture_mountain: $texture_path + "mountain.png"
$texture_mountain_width: 1000px
$texture_mountain_height: 800px

#mountain
  @include absolute_object(0px, 0px, $mountain_width, $mountain_height, $layer_2)
  background:
    image: url(#{$texture_mountain})
    repeat: no-repeat
    position: bottom 0px right 0px
    size: $texture_mountain_width $texture_mountain_height

/* ---- Hill ---- */
$hill_height: 50px
$texture_hill: $texture_path + "hill.png"
$texture_hill_height: 100%
$texture_hill_width: 50px

#hill
  @include absolute_object_b(0px, 0px, 100%, $hill_height, $layer_1)
  background:
    image: url(#{$texture_hill})
    size: $texture_hill_width $texture_hill_height

/* ---- Armco ---- */
$armco_height: 25px
$texture_armco: $texture_path + "armco.png"
$texture_armco_height: 100%
$texture_armco_width: 425px

#armco
  @include absolute_object_b(0px, 0px, 100%, $armco_height, $layer_3)
  background:
    image: url(#{$texture_armco})
    size: $texture_armco_width $texture_armco_height

/* ---- Forest ----*/
$forest_height: 250px
$texture_forest: $texture_path + "forest.png"
$texture_forest_height: 100%
$texture_forest_width: 500px

#forest
  @include absolute_object_b($hill_height, 0px, 100%, $forest_height, $layer_1)
  background:
    image: url(#{$texture_forest})
    size: $texture_forest_width $texture_forest_height


/* ---- Ground ---- */
$ground_height: 100% - $sky_height
$texture_ground: $texture_path + "dirt.png"
$texture_ground_size: 500px

#ground
  @include absolute_object($sky_height, 0px, 100%, $ground_height, $layer_1)
  background:
    image: url(#{$texture_ground})
    size: $texture_ground_size $texture_ground_size

/* ---- Beach ---- */
$beach_height: 100px
$texture_beach: $texture_path + "beach.png"
$texture_beach_size: 100px

#beach
  @include absolute_object(0px, 0px, 100%, $beach_height, $layer_1)
  background:
    image: url(#{$texture_beach})
    size: $texture_beach_size $texture_beach_size

/* ---- Sea ---- */
$beach_sea_overlap: 10%
$sea_height: 100% - ($beach_sea_overlap)
$texture_sea: $texture_path + "sea.png"
$texture_sea_size: 100px

#sea
  @include absolute_object($beach_sea_overlap, 0px, 100%, $sea_height, $layer_1)
  background:
    image: url(#{$texture_sea})
    size: $texture_sea_size $texture_sea_size
  opacity: 0.4

$texture_fish: $texture_path + "fish.png"

#fish
  @include absolute_object(200px, 200px, 300px, 100px)
  background:
    image: url(#{$texture_fish})
    size: 25% 25%
    repeat: no-repeat